body{
    text-align: center;
    background-color: black;
    color: white;
}

ol {
    list-style-position: inside;
}

li{
    list-style-position: inside;
}

#interest{
    background-color: black;
}

.well{
    background-color: black;
}

.jumbotron{
    background-color: rgb(48, 46, 46);
}

